[2016-01-31 14:43] matejlatin opened #14 "Images for Readme"
![figure-floatleft](https://cloud.githubusercontent.com/assets/3218960/12720211/7a1410f6-c8f1-11e5-8e48-194ec9bd2944.png)
![quote-centered](https://cloud.githubusercontent.com/assets/3218960/12720207/7a0edc44-c8f1-11e5-88fd-f1d72c541832.png)
![quote-floatleft](https://cloud.githubusercontent.com/assets/3218960/12720208/7a0f0688-c8f1-11e5-99a7-14e54b64c847.png)
![blockquote](https://cloud.githubuse

[2016-02-17 13:53] mbaxter91288 opened #15 "Semantic version"
Hi,

Just tried installing Gutenberg via NPM and it's coming up with an error that version 0.1 is invalid. Upon some searching it seems it needs semantic version numbers.

[http://stackoverflow.com/questions/16887993/npm-why-is-a-version-0-1-invalid#answer-16888025](npm: Why is a version “0.1” invalid?)

It looks like updating the pakage.json file's version to `0.0.1` would fix this. Would that be

[2016-02-18 15:39] cjpatoilo opened #16 "GitHub's Releases feature"
Hi @matejlatin

Today I saw some friends giving star in your project. So I decided to look closely. I was surprised at the quality of the project, the way you approached the problem and mainly the technical quality. Amazing job! The homepage is beautiful. Congrats dude.

So, you could use [GitHub Releases feature for its changelogs](https://github.com/blog/1547-release-your-software). As an exampl

[2016-02-19 14:09] leny opened #19 "Translations to stylus"
Hi,

I'm very interested by your project and will be happy to translate it into Stylus, which I use more than sass.

How would you like to do ?

A separate repo (Gutenberg-stylus), or forking this one and add .styl files asides of the .sass ones ?

Regards,

[2016-02-19 14:30] KasperAndersson commented on #15
@mbaxter91288 Did you try to install https://www.npmjs.com/package/gutenberg ?

I got this trying install ''gutenberg-web-type", so I wondering if this is even published to NPM?

```gutenberg-web-type' is not in the npm registry.```

[2016-02-19 15:48] marcobiedermann commented on #19
How about switching to normal CSS with CSS Variables using [PostCSS](https://github.com/postcss/postcss) with [CSSNext](http://cssnext.io/)?
This way, it is independent of any proprocessors.

[2016-02-19 19:09] leny commented on #19
Why not both?
So anyone can be happy :)

[2016-02-19 20:56] dkerzig commented on #15
+1 for updating version number in `package.json` and publish the thing to NPM

[2016-02-20 09:19] matejlatin commented on #15
Hey guys, I haven't published it to NPM yet. Will try to do it this weekend. @KasperAndersson that Gutenberg is something else :)

[2016-02-20 09:21] matejlatin commented on #16
Hey @cjpatoilo thanks. Let me take a look at this.

[2016-02-20 14:15] KasperAndersson commented on #15
@matejlatin That was my point - so this issue is invalid, because it's not this package. Looking forward to see this as a NPM.

[2016-02-21 20:27] jacobp100 opened #22 "Global use of !important in responsive.scss"
The margin left and right of every element in the page is set to auto using a `!important` declaration.

[2016-02-22 09:16] matejlatin commented on #19
Hey @leny ! @luclemo has already started working on translating it to Stylus. Maybe the two of you could collaborate on this?

@marcobiedermann I haven't had a chance to dive into PostCSS and CSSNext and I don't think I'll have time in the future. This whole project started partly because I wanted to learn Sass. I guess it could be done. Something I really like about Sass are the mixins, which mak

[2016-02-22 13:54] marcobiedermann opened #23 "Remove rem to px mixins"
I suggest removing all mixins which provide a fallback for `rem` units.
I would use a tool like [CSSNext](http://cssnext.io/features/#rem-unit-px-fallback) with [PostCSS](https://github.com/postcss/postcss) or [grunt-rem-to-px](https://www.npmjs.com/package/grunt-rem-to-px)

[2016-02-22 13:58] marcobiedermann commented on #19
@matejlatin Setting up PostCSS is very easy. I could help you with that if you like to.
In my opinion, you do not really need Sass and mixins (see #23).
The huge benefit of PostCSS would be that you do not need any third-party software to use your source code in production. Chrome Canary and iOS do support [CSS Variables](http://caniuse.com/#feat=css-variables) yet. So you could use the "future sy

[2016-02-22 21:34] marcobiedermann opened #26 "Setup Scss Lint"
Add Scss lint task to `Gulpfile.js` via [scss-lint](https://github.com/brigade/scss-lint)

[2016-02-22 21:36] marcobiedermann opened #27 "Add Travis.ci"
Blocked by #26

I suggest adding some [Travis CI](https://travis-ci.org/) test.
After adding #26 Travis could check every pull request for potential errors or warnings.

[2016-02-23 00:30] luclemo commented on #19
Hey @leny I was thinking of just adding the stylus directory as you suggested, but would love a hand with this. I feel comfortable doing the SCSS => Stylus translation, but I'm not familiar with grunt at all (more familiar with gulp). Also, while I use git on my own a lot, this would be my first open-source contribution so the whole workflow is a bit shaky for me.

[2016-02-23 12:11] matejlatin commented on #23
The mixins don't convert `rem` to `px`. They write css in both, `px` as fallback and `rem` as ideal.

[2016-02-23 12:12] matejlatin commented on #22
I don't remember why I used `!important` there anymore as I try to avoid using it at all costs. Will check the fix from @marcobiedermann and if all works, I'll merge the code.

[2016-02-23 12:14] matejlatin commented on #26
Will definitely look into it and add a task to Grunt.

[2016-02-23 12:15] matejlatin commented on #27
I have no idea what Travis is, lol :D Will take a look next weekend.

[2016-02-23 14:33] marcobiedermann commented on #23
Sorry, my bad. Yes I mean exactly that. This cask could be accomplished with the tools, see above

[2016-02-23 15:22] marcobiedermann commented on #19
@luclemo Adding a grunt stylus task is not that difficult:

Git workflow:
1.  Fork this repo
2. Clone your fork to you remove machine via `git clone GIT_URL`
3. Create a new branch via `git branch feature/stylus`
4. Checkout you new branch via `git checkout feature/stylus`
5. Make your changes
6. Add all your changes to the staging area via `git add .`
7. Commit your staging files via `git commit

[2016-02-23 17:31] leny commented on #19
Hi @luclemo , don't hesitate to push your work and I'll review it if it needs.
And congrats for your first contribution... the first of many to come! ;)

[2016-02-23 19:09] luclemo commented on #19
@marcobiedermann thanks for the super clear steps! I should be able to handle that :)
@leny will do!
Thanks guys :)

[2016-02-24 10:45] matejlatin commented on #19
Thanks for contributing guys! @marcobiedermann shouldn't the Sass step be removed from the gruntfile.js on the Stylus branch?

[2016-02-24 12:07] marcobiedermann commented on #19
@matejlatin
Yes, that's the problem I mentioned earlier

[2016-02-24 20:44] luclemo commented on #19
Hey guys, it's going well but I've hit a snag translating these two blocks.
[code]
I've tried this format:
[code]
As well as this
[code]
Even this
[code]
But keep getting syntax errors when it tries to compile and I'm not getting anything from the docs.

[2016-02-25 15:16] leny commented on #19
Hi,

I'll take a look maybe tomorrow, probably this week-end.

[2016-02-26 21:31] nathanjessen commented on #26
I would favor something more like [Stylelint](http://stylelint.io/) since it doesn't have the Ruby dependency. Instead it runs via JS using post-css.

[2016-02-27 17:33] matejlatin commented on #26
I have no preference as I don't use either of them. @marcobiedermann ?

[2016-02-28 00:22] jkinley opened #30 "Safari Issues"
This is a great project. Keep up the good work. When resizing the browser window in the latest Safari, it flickers and jitters pretty badly. I tested in Chrome and the issue is non-existant. Not sure what the problem is, but I wanted to pass it along.

[2016-02-28 10:23] marcobiedermann commented on #26
@nathanjessen Yeah, Stylelint looks promising, I have not used it at all but will take a look at it soon. I absolutely agree with you, having as few dependencies as possible is a good approach. So let's remove Sass-Lint and use Stylelint instead.

[2016-02-28 14:55] matejlatin commented on #30
Thanks @jkinley some people already told me about it but haven't had time to dive in. I have no clue what could cause this. I also noticed this issue on iPhone when viewed in landscape or on an iPad, no matter either Chrome or Safari...

[2016-02-29 13:36] KasperAndersson commented on #15
@matejlatin Starting a new internal project at the office, and we'll like to try your lib. What's the status on npm?

[2016-02-29 13:58] matejlatin commented on #15
@KasperAndersson sorry, been very busy. I have a few pull requests to test and merge and then I'll publish it to npm. If all goes well it should be up tonight.

Looking forward to see what you do with it! :)

[2016-02-29 20:27] #22 closed

[2016-02-29 20:52] matejlatin commented on #15
@KasperAndersson it's on NPM! Go ahead and run `npm install gutenberg-web-type`

[2016-02-29 20:55] #15 closed

[2016-02-29 21:35] matejlatin commented on #16
@cjpatoilo should the releases be named v1.1.0 or just 1.1.0?

[2016-02-29 22:18] KasperAndersson commented on #15
Nice one! I'll try tmrw, thanks :+1:

[2016-03-01 17:24] geoffdavis92 commented on #16
@matejlatin For your site/README, it's up to you, but files like [`package.json`](https://github.com/milligram/milligram/blob/v1.1.0/package.json) or [`bower.json`](https://github.com/milligram/milligram/blob/v1.1.0/bower.json) use "1.1.0", which does not use the "v". (checkout line 3 on each file)

For more info on semver, check out [http://semver.org/](http://semver.org/).

Speaking of package/b

[2016-03-01 18:56] cjpatoilo commented on #16
Hi @matejlatin I am going through major changes: new company, new challenges, university, studies.. all this has consumed my time.

So, about versioning I usually use with `v` before but you can use any option to set the tag (version). See this example with `v` on tag: https://github.com/facebook/react/blob/v0.14.1/package.json

[2016-03-01 19:23] matejlatin commented on #16
@geoffdavis92 @cjpatoilo thanks for your help guys. I used versioning with 'v' on GitHub releases but in the package.json it's only '1.1.0'. Now also on npm, so you can install with `npm install gutenberg-web-type`

[2016-03-01 19:23] #16 closed

[2016-03-01 19:28] #14 closed

[2016-03-02 14:49] luclemo commented on #19
Hi @leny don't worry about this, I got it resolved and moving onto the next files. :)

[2016-03-02 21:10] Invulner commented on #30
Looks like the problem is sub-pixel rendering. If you remove 80% width for article and footer you won't see any issues.

[2016-03-03 11:06] matejlatin commented on #30
@Invulner hmmm... what do you mean by sub-pixel rendering? The 80% width turns out to be a width in px which is decimal?

[2016-03-03 12:48] Invulner commented on #30
Sub-pixel rendering it's old issue of how different browsers floor float values. 80% give us float value during resize - http://joxi.ru/l2ZYKwLf8OlY4m . The main question is how browser deal with this value :) There're many articles about it, and as far as I know - we don't have stable solution(but maybe it's possible to do with JS). I'm not sure that it's the main problem that cause flickers ans

[2016-03-04 09:51] matejlatin commented on #30
@Invulner got it... will take a closer look shortly. Thanks for taking time to research this :+1:

[2016-03-05 04:18] donysukardi opened #31 "Code improvement / clean up"
**Awesome work!**

I'm trying to incorporate Gutenberg into my own framework, heavily influenced by [Inuit CSS](https://github.com/inuitcss) by the great Harry Roberts. Took me a while to figure out what is what.

Here are some suggestions on how we could improve Gutenberg,
- [ ] **Remove superfluous interpolations**
  There are so many redundant interpolations, i.e. `#{ $interpolate-me }` that ma

[2016-03-07 14:19] matejlatin commented on #31
@donysukardi thanks for the suggestions. I'm not a front-end developer, this project was also a way for me to learn Sass a bit better. Could you explain better / give me examples for your 4 suggestions please?

[2016-03-07 23:06] schollz opened #32 "Help to customize and generate CSS"
Hi, this is a great tool! I'm having trouble getting started with customization. I'm not familiar with Grunt/Gulp. I understand CSS and I know how to customize the .scss, but what do I do to compile these into the .css files? I'd appreciate any help!

[2016-03-08 12:21] connor-baer commented on #32
I think gulp is easier than grunt, but that's a matter of preference. To learn gulp, have a look at these two articles: https://markgoodyear.com/2014/01/getting-started-with-gulp/, https://travismaynard.com/writing/getting-started-with-gulp

[2016-03-08 15:53] schollz commented on #32
Ok thanks, that helped a lot!

[2016-03-08 15:53] #32 closed

[2016-03-08 16:24] connor-baer commented on #32
@schollz Glad I could help!

[2016-03-14 11:20] marcobiedermann commented on #31
@matejlatin If you like to, I could help you. I really like this project and would love to help you out :)

[2016-03-15 12:12] matejlatin commented on #31
@marcobiedermann that'd be awesome :)

[2016-03-15 21:11] marcobiedermann commented on #31
In progress…

[2016-03-19 11:37] Madebym opened #33 "Single directions margins maybe?"
I see that Gutenberg uses double direction margins. Have you maybe thought about using single direction margins?

It is explained nicely here http://csswizardry.com/2012/06/single-direction-margin-declarations/

These typographic projects favor this approach, maybe some others too, but I only know about these.

http://typeplate.com/
http://typesettings.io/
https://github.com/zellwk/typi
https://sa

[2016-03-21 04:16] ricardozea opened #34 "Undefined variable $leading-desktop"
Hello.

I'm **extremely** n00b with Sass but I would love to incorporate Gutenberg in my projects. I even bought the Gutenberg sticker :)

Anyhow, I'm importing all the partials into may main SCSS file but when I compile I get this error:

`Error: Undefined variable: "$leading-desktop"`.

I don't see in the README any information about how to configure this.

What am I doing wrong?

Thanks.

[2016-03-23 08:01] marcobiedermann commented on #31
- [x] **Modularize the framework, i.e. create partials for headings, figures, etc**
- [x] **Nest media-query / responsive code inside the components themselves**

[2016-03-25 18:56] matejlatin commented on #34
Hey @ricardozea !

Thanks for supporting this project. `$leading-desktop` is calculated on the 11th line in the _gutenberg-typography.scss file.

`$leading-desktop: round($base-desktop * $line-height-desktop);`

If the `$leading-desktop` doesn't get define then it must be something wrong with either `$base-desktop` or `$line-height-desktop`, so it doesn't get calculated...

Can you share that bit

[2016-03-25 19:10] matejlatin commented on #33
Hey @Madebym , I remember that article :)

What I hate about this solution is that by doing so, headings get stuck right in the middle of the space between paragraphs. I prefer heading to be closer to the paragraph to which they're headings to (smaller margin at the bottom, larger on top). So besides keeping a vertical rhythm this also establishes a nice visual hierarchy.

You could still set top

[2016-03-26 04:04] ricardozea commented on #34
Hello @matejlatin

I have nothing special, all I'm doing is importing all Gutenberg's mixins in my main SCSS file:

    @import
	"gutenberg/gutenberg-config",
	"gutenberg/gutenberg-mixins",
	"gutenberg/gutenberg-reset",
	"gutenberg/gutenberg-config",
	"gutenberg/gutenberg-responsive",
	"gutenberg/gutenberg-style",
	"gutenberg/gutenberg-typography",
	"mixins";

Koala (the app I used to compile) sho

[2016-03-26 10:06] matejlatin commented on #34
Hey @ricardozea
I think it's just the order by which you import those files. `gutenberg-typography` should come before the `gutenberg-responsive`. You're basically calling/setting the variable before it's set. Try switching the order.

[2016-03-26 11:48] #33 closed

[2016-03-27 05:27] ricardozea commented on #34
Yes, yes @matejlatin, you were right, I changed the order based on the README and it worked :)

As far as this issue is concerned, it's resolved. However, I have two more questions. Do you want me to open an issue for each or do you want me to open an issue for both?

Or how do you want to answer them? Adding them here feels "off-topic" :p

Thank you very much for your help.

[2016-03-28 04:13] ricardozea commented on #34
Sorry, didn't mean to close this :p

[2016-03-29 09:04] matejlatin commented on #34
Hey @ricardozea I'm glad that worked :) As you wish, put them together if they're related and in separate if not :)

Is there a way to see your new page?

[2016-03-29 14:30] ricardozea opened #35 "How to customize Gutenberg?"
Ok, I have Gutenberg working now :+1:

How do I customize it? The documentation is extensive in explaining how it's built (which is great), but it doesn't dive much into the customization part. A designer like me wants to implement and then tweak to fit my design :)

For example, I want to modify the Modular Scale values. Before implementing Gutenberg I was using straight up Modular Scale Sass plu

[2016-03-29 14:39] ricardozea commented on #34
Ok, I create a new issue here https://github.com/matejlatin/Gutenberg/issues/35 - I don't remember what the other idea was about, I'll post it as soon as I remember :) lol.

At this point my homepage (WIP) is only made out of cards with titles in them, there is very little copy, but you can clearly see Merriweather theme in place:

![screenshot - 3_29_2016 10_36_07 am](https://cloud.githubusercont

[2016-03-29 16:59] matejlatin commented on #34
Awesome! I'm glad it worked out that well for you :)

[2016-03-29 17:21] matejlatin commented on #35
Hey @ricardozea are you looking to customise it through font sizes only?

The current sizes in Gutenberg are based on modular scale: perfect fifth and yes I do plan to make it easier to switch different scales easily in the future. The problem is this could be quite tricky to implement.

For now, you should change the sizes in the `_gutenberg-config` file. There's a special section for headings si

[2016-03-29 18:20] #34 closed

[2016-03-29 19:01] ricardozea commented on #35
Hey @matejlatin, I see the sections you mention.

Yes, for now my intentions are more around using my scale since I understand the concepts behind Modular Scale, that way, if in the future I want to keep some of the same ratios but change another, I know the starting point the new scale comes from.

I'm planning to use both for now, Gutenberg and Modular Scale with my custom ratios. Is this someth

[2016-03-30 15:53] ricardozea commented on #35
@matejlatin at this point I'm importing all Gutenberg's and Modular Scale's partials, so my main SCSS file looks like this:

	@import
		"gutenberg/gutenberg-reset",
		"gutenberg/gutenberg-config",
		"gutenberg/gutenberg-mixins",
		"gutenberg/gutenberg-typography",
		"gutenberg/gutenberg-style",
		"modular-scale",
		"bg-colors",
		"mixins";

Not sure if this is ideal or not but so far everything is

[2016-03-31 17:11] matejlatin commented on #35
Hey @ricardozea I'm really glad you got it working for you.

Yes, that's exaclty how I envisioned integrating modular scale into Gutenberg. You can see in the config file that there's a section dedicated to modular scale but it does nothing at the moment.

[2016-04-01 04:41] ricardozea opened #36 "Font defaults from html to *"
Hey @matejlatin I ran into a small situation, not an issue per se.

I noticed that my `<button>` wasn't taking the font family (Merriweather in my case), it was using Arial. Actually, now that I remember, the `input` fields were suffering the same issue.

I saw that in the `_gutenberg-typography.scss` partial the `// Font defaults` section is targeting the `html` like so:

    html {
      font-si

[2016-04-18 13:27] matejlatin opened #37 "Double Grid toggle doesn't work in Example 1"

[2016-04-18 13:27] #35 closed

[2016-04-18 13:27] matejlatin commented on #36
Thanks for the comment @ricardozea . Will definitely consider this for future updates.

[2016-04-18 13:28] #36 closed

[2016-05-09 12:14] kubens opened #38 "Home page issue"
Hi!

I see some bug for home page. Check mov file:
https://www.dropbox.com/s/yoznhkske69fscw/gutenberg-bug.mov?dl=0

[2016-05-10 11:55] Pustur commented on #38
Duplicate of #30

[2016-05-11 10:35] matejlatin commented on #38
Yup, it's a duplicate. I'll close it.

[2016-05-11 10:35] #38 closed

[2016-05-11 10:41] matejlatin commented on #19
I decided to keep this project Sass-only for now. I'm flirting with the suggestion by @marcobiedermann to rewrite it independently from preprocessors in the future. Closing this issue.

[2016-05-11 10:41] #19 closed

[2016-05-11 12:55] marcobiedermann commented on #31
@matejlatin Hey Matej, sorry for the delay but my computer got broken and I had to study for my final.
Unfortunately all my changes are gone.
I am going to redo my improvements and send each change in it's own pull request :)

[2016-05-11 16:00] matejlatin commented on #31
@marcobiedermann hey, no worries. Been pretty busy as well. Working on something else and I'll get back to Gutenberg in a few weeks.

[2016-05-12 06:13] GeorgeStrakhov opened #40 "images squashed when resizing the window"
Suggest to add a debounced onresize hook to recalculate image sizes.

[2016-05-12 09:35] matejlatin commented on #40
@GeorgeStrakhov yup I'm aware of this problem. Thanks for the suggestion. What do you mean by "debounced"?

[2016-05-12 10:27] GeorgeStrakhov commented on #40
Sure. https://lodash.com/docs#debounce
This is just a performance-optimising measure - to make sure that browser
doesn't go crazy trying to run your resize function 60 times per second
while the window is being resized.

On Thu, May 12, 2016 at 12:35 PM Matej Latin <notifications@github.com>
wrote:

[2016-05-12 10:39] matejlatin commented on #40
Awesome, we should definitely do it. Thanks @GeorgeStrakhov

[2016-05-12 10:43] GeorgeStrakhov commented on #40
No problem. A bit busy today, but can handle this and do a PR tomorrow.

On Thu, May 12, 2016 at 1:39 PM Matej Latin <notifications@github.com>
wrote:

[2016-05-15 14:59] GeorgeStrakhov commented on #40
Sorry for late. Here you go: https://github.com/matejlatin/Gutenberg/pull/42

[2016-05-15 16:56] matejlatin commented on #40
@GeorgeStrakhov thanks.

[2016-05-15 16:57] #40 closed

[2016-05-15 16:57] matejlatin commented on #37
Have to investigate this. It seems that on some screens (maybe non-retina) the double grid baseline isn't visible.

[2016-05-24 20:42] gregoralbrecht opened #44 "Mixins are not imported"
I just included the scss files in a project for the first time and noticed that you don't import `gutenberg-mixins.scss` inside `gutenberg.scss` although you use it there. This throws an error for me, because `@include line-height()` is not defined.

If you just want to include it, I can open a PR if you want. Just let me know.

_Really nice work by the way!_

[2016-05-27 12:03] matejlatin commented on #44
Hey @gregoralbrecht thanks! Hm, the gutenberg-mixins gets imported in gutenberg-typography. I find it strange that you get an error. Nobody reported it so far...

[2016-06-08 11:19] ghost opened #47 "3rd party grid recommendations"
Hello,

I would like to ask for a recommendation of a 3rd party grid system that can be easily combined with Gutenberg.

The kit is already pretty much a complete framework for a blog that I am making, but I also would like to add logo with navigation and a two-column footer to a site, and thus need an additional component (as someone not well versed in CSS in order to add a compatible grid myself

[2016-06-08 11:36] matejlatin commented on #47
Hey @keenam I can't really give you an advice on that but I was thinking of transforming Gutenberg into a proper framework some time in the future. I know a lot of people have been asking if it works with Bootstrap but I don't know if they tried. I think it could, but probably not very easy to set up...

[2016-06-08 12:04] keenam commented on #47
Thank you @matejlatin , that would be a great enhancement to Gutenberg. As I mentioned, it is already almost a complete framework for my current purpose.

I'll look into the project below, which uses Gutenberg and LostGrid at its base, to see what can I do about this issue meanwhile:

https://github.com/wpioneer/gatsby-starter-lumen

[2016-06-08 12:09] matejlatin commented on #47
@keenam, awesome! Hm, I didn't know about the Lumen project. Looks pretty cool. How did you find it?

[2016-06-08 13:06] keenam commented on #47
I think that might've found a suitable grid - [Dead Simple Grid](https://github.com/mourner/dead-simple-grid). And that's the whole framework below!

[code]
DEMO:
http://mourner.github.io/dead-simple-grid/

[2016-06-08 16:05] matejlatin commented on #47
Looks interesting.. Will take a look.

[2016-06-11 19:00] keenam commented on #47
In the end, for an easier grid setup I went with the declarative [Flexgrid.css](https://github.com/axiomzen/flexgrid.css) system.

[2016-06-13 11:38] matejlatin commented on #47
Interesting, @keenam . Will take a look once we start taking this project further. Thanks.

[2016-06-22 11:52] #47 closed

[2016-06-22 11:52] #44 closed

[2016-06-24 13:05] FrancescoK commented on #30
This happens on Safari for macOS, too, e.g. on the Gutenberg homepage at 807px width for the browser window.

[2016-06-24 13:14] matejlatin commented on #30
Thanks @FrancescoK . Still haven't got the time to get around it. It's not just Safari, it's Chrome as well. Haven't tried on others but it's probably on all browsers. Must be something with the media queries...

[2016-07-20 14:02] matejlatin commented on #47
note to self: https://gridder.io/

[2016-08-12 13:52] juh2 opened #48 "vertical space of <br /> too big"
I am not a typographer but I think that the interline spacing of <br /> is too big.

I use `<br></br>` to break lines in a poem and the spacing looks the same as with `<p>.`

[2016-08-14 02:50] jameskolce commented on #48
Sorry I'm not sure about the styles of Gutenberg regarding this, but I have to note that `<br>` is a self-closing element, so `<br></br>` is the same as `<br><br>` or `</br></br>`. So probably you get double spacing because of that, try using just one `<br>` at a time :)

[2016-08-14 14:49] matejlatin commented on #48
Yup, try using only one. Just `<br>`

[2016-08-14 14:51] matejlatin commented on #23
Will probably be a part of the tool in some later version (v2?). Closing the issue.

[2016-08-14 14:51] #23 closed

[2016-08-14 16:09] juh2 commented on #48
I am using Hugo which produces `<br></br>` but I tested with your example file and get the same result.

[2016-08-15 08:14] matejlatin commented on #48
You get the same break as with paragraph when you use `<br>`?

[2016-08-15 09:13] juh2 commented on #48
See the attached screenshot.
I inserted a simple `<br />` after "type."

I would expect the same linebreak as in normal paragraphs.

![bildschirmfoto vom 2016-08-15 11-10-25](https://cloud.githubusercontent.com/assets/1416069/17660318/ecacabba-62d8-11e6-973c-3e95cb17923e.png)

[2016-08-15 10:20] matejlatin commented on #48
Are you looking to get the indented paragraph effect or just break the line without indentation?

[2016-08-15 11:01] juh2 commented on #48
a line break without indentation.

[2016-08-22 09:18] matejlatin commented on #48
@juh2 I'll take a closer look this weekend. A `<br>` should only break the line...

[2016-08-27 12:07] matejlatin commented on #48
@juh2 I'm looking into this and it seems that `text<br>text` will produce what you're looking for. `<p>text</p><br>text` will not. Each paragraph has a bottom margin that pushes content down. Using `<br>` inside a `<p>` still produces only a line break without margins. So everything seems normal.

[2016-08-27 17:59] juh2 commented on #48
No, in the sample which is provided with gutenberg I do this:

Inserting a `<br>` right before the sentence beginning with »Across...«.

[code]

And I get this:
![bildschirmfoto vom 2016-08-27 19-54-46](https://cloud.githubusercontent.com/assets/1416069/18029145/49fda47a-6c90-11e6-9cf1-0d0c3850d825.png)
`
I think I am using the default config:

`/* Configuration
   ================================

[2016-08-29 18:28] juh2 commented on #48
After investigating a little further I see that this might be a firefox issue. In Chrome and Vivaldi <br> behaves as expected. Only in firefox the spacing is too big.

[2016-08-29 19:10] matejlatin commented on #48
@juh2 very interesting. I'll take a look a firefox as well.

[2016-08-30 17:12] juh2 opened #50 "Hint in documentation how to integrate Gutenberg with other frameworks"
I want to build a site with Gutenberg and wonder what is the best way to integrate the Gutenberg CSS with CSS from other frameworks eg. bootstrap.

How would you do this?

[2016-08-31 12:31] matejlatin commented on #50
Hey @juh2 others have been asking me similar questions. I haven't spent any time at all trying to make Gutenberg work with other frameworks. There was a similar discussion once, a bit more focused on grids but it might help you: https://github.com/matejlatin/Gutenberg/issues/47

Right now I can't really tell you where to start if you want to work with both Gutenberg and Bootstrap. I might do some

[2016-09-06 19:15] juh2 commented on #48
I tried some recipes on the internet to style the <br> tag or to normalize the standard tags, but I nothing changed. I fear that normalize.css conflicts with the built in resets.

Have you made any progress?

[2016-09-17 14:38] zackphilipps opened #51 "imgFixHeight / fixImgHeight"
👋  I have included your project in my WordPress framework, [Scratch](http://scratchtheme.com/). I love it!!!

There's just one issue I've found... the imgFixHeight function simply behaves too unpredictably. There are a lot of places where one would like to use an `<img>` tag and not have its height highjacked, such as a logo, an image carousel, etc... Obviously one could edit the function to suit

[2016-09-20 09:23] matejlatin commented on #51
Hey @zackphilipps thanks I think this could be something to look into for the next major update. Not sure when though... :(

[2016-09-20 09:24] matejlatin commented on #48
@juh2 not at all... :( this is a tough one...

[2016-09-20 16:46] jameskolce commented on #48
If it helps: There is no difference in the rendering of <br> in different browsers by default. So the issue must reside in the styles applied.
I'll check this out though.

[2016-09-20 19:51] jameskolce commented on #48
**Found it:**
There is a difference in how browsers treat `<br>` indeed, but the mistake is in applying margins to *everything*:

[code]

So there are two things to do:

1. Don't apply margins to everything in that way.
2. Just overwrite the margin for `<br>`elements (probablt the most feasible option)

I can open a PR for this.

[2016-09-20 19:57] matejlatin commented on #48
Hey @jameskolce wow that was quick 🎯 Yeah let's go for number 2. Well done, thanks.

[2016-09-20 20:23] jameskolce commented on #48
Thanks! @matejlatin  So I fixed this but I'm having trouble building the project (I don't have Ruby and the grunt file is a little confusing). So I'll just commit the change in Sass and maybe you can compile it to CSS.

Also I was checking and I think the project can be improved a lot in terms of technical stuff, I really like it, so I might start working on it a little if that's okay!

[2016-09-20 21:02] jameskolce commented on #51
I think the root of the issue is more about design theory than the actual JS function.

So I think the question should be: *Is necessary to make everything follow a vertical grid on the web?*

In print is a common practice but is also a static medium, and the web is an incredibly dynamic place, so is almost impossible to get that right. Also, let's consider that this is a generic library, so is im

[2016-09-20 21:30] jameskolce commented on #31
I can help with this. I like this project so I'm considering to integrate it with [Concise](https://github.com/ConciseCSS/concise.css), and in the meantime improving it would be a good investment I think :)

By the way, I created a better replacement for postcss-vertical-rhythm mentioned by @donysukardi here https://github.com/KolceThompsonCo/postcss-lh.

[2016-09-21 05:32] juh2 commented on #48
Thanks a lot.

[2016-09-21 12:04] matejlatin commented on #48
Hey @jameskolce thanks. Let me review this later and yeah... contributions are very welcome. Thanks for investing your time ;) I was looking at adding lynt and travis recently (as some issues here suggest) but didn't have time to dig deep enough.. I know there's a lot of room for improvement from the technical side.

[2016-09-21 17:03] jameskolce commented on #48
Sure and okay cool! I might take a look at the other issues; maybe I can do something as well!

[2016-10-01 15:56] mihaisavezi opened #53 "Misalignment issues"
The idea is amazing. But this is how it currently looks on my screen. It doesn't quite work. I've seen a similar project called sassline, where the aim is the same - vertical rhythm. I think he has a different technique which is more in line with how browsers handle ``` line-height```.

An extract from an article he's written:

![image](https://cloud.githubusercontent.com/assets/6965490/19015169/d

[2016-10-02 12:20] bdarcus opened #54 "fill out documentation"
I'm looking for a bit more detail in the documentation. For example, how to use gutenberg end-to-end, including grunt.

[2016-10-02 12:40] bdarcus opened #55 "figure and paragraph indent conflict?"
If I set paragraph indenting to true, I get some unexpected behavior on some paragraphs. Example (note "With this invention ...".

![image](https://cloud.githubusercontent.com/assets/1134/19020607/c37ded58-887b-11e6-8e33-4c636be3d0cb.png)

[2016-10-02 13:43] matejlatin commented on #51
Hey @jameskolce yes that was my original thought as well and I think I even wrote somewhere in the instructions that people shouldn't obsess too much with the height of the images. There should be a simple way to either enable or disable this JS fix but for the presentation purposes I left it in... might remove it in the future and only keep it in the examples.

[2016-10-02 13:45] matejlatin commented on #53
Hey @mihaisavezi I'm sorry but I don't see what the problem is... everything seems aligned on the screenshot... Gutenberg uses 0.5 line-height (or leading) for some measurements like margins and how many "line-heights" a heading takes. It can be 1.5, that's why we have this double grid, so you can still see if it fits.

[2016-10-02 13:46] matejlatin commented on #54
Hey @bdarcus I was planning to write an article that would cover this. Will update this post when I do.

[2016-10-02 13:47] matejlatin commented on #55
Yup, looks like a bug. There's an image before the paragraph so the p + p css rule doesn't apply. We'll have to fix this.

[2016-10-02 18:32] jameskolce commented on #51
I can check a way to enable/disable it easily this afternoon, will let you know if I get something!

[2016-10-02 22:12] jameskolce commented on #51
So I just checked and I think the way to do it with minimal changes is just to add a global variable like `var autofixImgHeight = false`, and check for its value before calling the `fixImgHeight` function. Though splitting everything into a function an pass a configuration object would be a better solution.

[2016-10-02 22:23] jameskolce commented on #55
Change this block:

[code]

To this:

[code]

File _text.scss line 77–103

[2016-10-03 08:48] matejlatin commented on #55
So there was one `}` to many? :)

[2016-10-03 17:35] jameskolce commented on #55
The float + p selectors just were nested on the p + p selectors :)

[2016-10-03 19:18] matejlatin commented on #55
Oh now I see it... I'm so bad at spotting bugs :D Thanks for fixing this ;)

[2016-10-03 19:39] jameskolce commented on #55
Sure, no problem! I'm "watching" this project so I get notifications for everything, if I see I can do something I do it, I love fixing stuff.

[2016-10-04 11:01] matejlatin opened #56 "Grunt ignores scss files in folders in src/style"
I tried updating the `_text.scss` file in the `src/style/modules` folder but grunt doesn't acknowledge the change in the file and nothing happens when the watch task is running.

If I make a change to the `_gutenberg-config.scss` file which is in the `src/style` folder the watch task works.

I noticed this shortly after the change of the project folder structure but forgot about it.

Need to fix t

[2016-10-04 11:08] matejlatin commented on #56
On another look I think this is the problematic part (watch task):

[code]

Should probably be:
`files: ['**/*.scss']`

[2016-10-04 11:34] tricinel commented on #26
Hi, has there been progress on this? Mind if I help?

[2016-10-04 11:44] matejlatin commented on #26
@tricinel not yet. Sure, go ahead :)

[2016-10-04 11:45] tricinel commented on #26
Okidoki :)

[2016-10-04 12:34] matejlatin commented on #56
I did have to change the files line in the watch task. Grunt now runs the tasks on changes to any of the .scss files.

[2016-10-04 12:34] #56 closed

[2016-10-04 12:34] matejlatin commented on #55
I updated and released a new release with this fix. Thanks @bdarcus and @jameskolce !

[2016-10-04 12:34] #55 closed

[2016-10-04 12:36] matejlatin commented on #48
@juh2 this should be fixed with the latest release. Can you check please? Reopen the issue if not...

[2016-10-04 12:36] #48 closed

[2016-10-04 12:40] matejlatin opened #57 "Switch to node-sass"
As mentioned in the [following pull request](https://github.com/matejlatin/Gutenberg/pull/52), it would be better to use node-sass as it doesn't require ruby to run. But currently there's a problem with decimals being set to 15 and node-sass only uses 12. The real problem is: we shouldn't rely on number of decimals (originally it was the only fix that would make the grid and elements align almost

[2016-10-05 09:30] tricinel commented on #26
@matejlatin, right, so I have this done now, see https://github.com/tricinel/Gutenberg/blob/feature/scss-lint/Gruntfile.js#L121. I haven't merged yet because I didn't know if you had a preference for the linter config. I've used Github's primer (https://github.com/primer/stylelint-config-primer), which we can extend however we want. The project's code passes nevertheless, but it has some warnings

[2016-10-05 14:44] mihaisavezi commented on #53
I thought the idea of a baseline grid is to have text sit on the baseline --> see this screenshot. Do you see the difference between the two screenshots?

![image](https://cloud.githubusercontent.com/assets/6965490/19117867/36f65604-8b23-11e6-9d10-4c2f4fd2c0e3.png)

[2016-10-05 14:58] matejlatin commented on #53
Yeah lots of people asked about this. It's just how line-height works on the web. The text is supposed to be sitting right in the middle of the baseline grid lines.

That can be done on the web, I've seen it already, but it gets tricky when you allow users to be able to change the font and line-height and it could get messed up really quickly.

[2016-10-05 18:43] jameskolce commented on #26
What about, instead of using wrappers—like Gulp, Grunt and everything else—just use something like Jake just to organize the standard CLI tools for Sass, linting, minification, etc.
Here is an example I wrote for JSDocs: https://github.com/jsdocs/jsdocs/blob/frontend/Jakefile
The file can the optimized to avoid the repetition, but I still think is simpler and more transparent. What do you think?

[2016-10-05 21:07] bdarcus commented on #55
Thanks for the quick fix!

[2016-10-05 21:42] bdarcus commented on #56
Correct me if I'm wrong: if I change the `_gutenberg-config.scss` file, the grunt task sass should regenerate the `assets/*css` files?

It does not; I have to manually run `sass`.

[2016-10-06 07:10] tricinel commented on #26
That could work as well. I have a preference for gulp/grunt just because it's more widely known and used I guess, but they all do the same thing: put together cli tools. I like gulp because of its streams and how you can pipe things together.

On the same note, we can just use npm scripts for everything, and have npm run lint, which would just be a shortcut for the stylelint tool.

Up to you guys

[2016-10-06 12:00] matejlatin commented on #37
It does work on retina screens it's not there on normal resolution screens. Does anyone else have problems with this?

[2016-10-06 18:36] jameskolce commented on #26
Yeah, so Jake is on the same line as a tool like Make but with JS. Is like the middle point between gulp/grunt and plain npm scripts. We wouldn't need the gulp/grunt cli wrappers because we would use the original cli tools directly, and we don't need to have a mess in the package.json file either.

Also, we can still use pipes, the operating system already implements them with "|" if we need to us

[2016-10-06 20:19] tricinel commented on #26
Yep, I agree. I will push that pull request that just handles the stylelint and then we can come to an agreement on the build process. :) Not that what we currently have doesn't work, btw! Just to make it better.

[2016-10-06 20:23] jameskolce commented on #26
Yeah, perfect. I agree with that, and if @matejlatin agrees too then we can do it. I also think that the current flow works but in this way it would be easier and simpler.

[2016-10-06 22:56] bdarcus commented on #55
PS - this isn't totally fixed. See the example document section beginning with "Printing Method ..."

[2016-10-07 02:54] jameskolce commented on #55
![image](https://cloud.githubusercontent.com/assets/2559808/19177405/349afee4-8c06-11e6-99d7-074e474596b6.png)

This is what I see, everything looks in order to me. The first two paragraphs don't need indentation.
Maybe you are seeing the "Setting each page would take..." text as a separate paragraph but is actually just one:

![image](https://cloud.githubusercontent.com/assets/2559808/19177501/ff

[2016-10-07 08:05] matejlatin commented on #55
@bdarcus hey yes, when a paragraph follows a title, a figure or anything that breaks the body of the text it's not indented. That's correct, it's one of the rules of typography.

[2016-10-07 08:14] matejlatin commented on #26
Guys, to be completely honest I have no idea what you're discussing for most of these. We'd need to have a proper chat but it seems like a lot of changes. I was planning to work on v2 some time next year maybe that would be a good time to introduce these major changes?

One question I have is why remove Grunt? I quite like the fact that it runs on Grunt... is it simply because not everyone can use

[2016-10-07 08:22] tricinel commented on #26
@matejlatin Just preference. Nothing else. I started out with grunt and after a while switched everything to gulp. But I love both equally, with a slight preference to gulp streams. I think, if you're tired of writing configuration and want instead to write the code that connects micro-tasks together, then gulp is your tool.

v2 sounds like a good milestone to incorporate any potential changes to

[2016-10-07 11:32] bdarcus commented on #55
My understanding, and hence why I reported, was that the rule only applies
to paragraphs right after a section heading.  It doesn't look right to me,
but I admit I've never thought of this case before (it's not that common).

I tested this in latex, because I've never seen this, but alas, it just
moves the figure after the second paragraph.

Do you have a source for your broader rule?

[2016-10-07 11:49] matejlatin commented on #55
It's from the book called The Elements of Typographic Style by Robert Bringhurst, there's an "Applied to web" version here: http://webtypography.net/2.3.1

[2016-10-07 12:16] bdarcus commented on #55
Thank you!

But that's quoting Bringhurst, who doesn't mention this case I believe.

The visual problem with this particular case is it's hard, particularly if
the last line of the first paragraph is long, to determine whether there's
a paragraph break between the first full paragraph of the section, and the
second.

But maybe the lesson is that it's up to the content author to be aware of
this, a

[2016-10-07 12:28] matejlatin commented on #55
hmmm... now I'm not entirely sure what exactly you mean... The figure between the paragraphs already creates that line break—both visually and in code. If the figure is floated the paragraphs are indented because there's no visual break between them, but the HTML is the same.

[2016-10-07 15:03] bdarcus commented on #55
Right; I accept this isn't a practical problem, given the flexibility of
moving content, or floating the figure.

I guess I would say this rendering in this particular case is an artifact
of HTML. A figure can, conceptually, be part of a paragraph, just like a
blockquote can, even if HTML doesn't have the semantics to express that.

On Fri, Oct 7, 2016, 8:28 AM Matej Latin <notifications@github.co

[2016-10-07 15:09] matejlatin commented on #55
Exactly.

[2016-10-08 11:35] #26 closed

[2016-10-08 11:38] matejlatin commented on #56
@bdarcus the watch task which is the default task will do that. You just need to run grunt and all the changes will be applied as soon as you save your files.

[2016-10-08 11:40] matejlatin commented on #26
@tricinel @jameskolce I merged the pull request. But shouldn't we be linting all the scss files? Currently we only lint the config and the main file.

How do we go about adding Travis CI now? I think there's already an issue for that...

[2016-10-08 11:48] tricinel commented on #26
Hmmm...I might have messed up the grunt config if it's not doing all the scss files in the style directory. I'll take a look.

Travis CI, can do that as well, but only partly - you'd need to sign up with your github account for a free travis account and add this repo there as part of your account. I can take care of the config + npm scripts for testing. This would mean that every time someone push

[2016-10-08 11:50] matejlatin commented on #26
Cool, should we add the lint task to the default watch task as well?

[2016-10-08 13:07] matejlatin commented on #26
@tricinel changed `src: ['*.scss']` to `src: ['**/*.scss']` and it goes through all the scss files. Will do some more cleaning up now...

[2016-10-08 14:33] matejlatin commented on #26
What rules sorting are we using? So I can set up my plugin and save some time on cleaning up...

[2016-10-09 15:46] bdarcus commented on #56
So the `watch` task regenerates different sass files than the `sass` task,
by design?

[2016-10-09 16:07] matejlatin commented on #56
No, the "watch" task runs the "sass" task whenever there's a change to a sass file. Then it will also run 3 css tasks. All "watch" task does is run other tasks...

[2016-10-10 13:51] tricinel commented on #26
Hi @matejlatin, it's here: https://github.com/primer/stylelint-config-primer, all rules are properly explained in their readme. And we can just override any rules in .stylelintrc by adding a "rules" property.

[2016-10-10 13:57] matejlatin commented on #26
Hey @tricinel what I meant was properties sorting. Lots of warnings are "expected property x before property y" and if my Sublime plugin sorting matched the one we're using it would save me a lot of time cleaning up.

No worries, mate ;)

[2016-10-10 14:15] tricinel commented on #26
Oh, I see, I'm not sure about that. Usually, I just do alpha sort. But looking at the property in primer, it seems it's this: https://github.com/primer/stylelint-config-primer/blob/1ac303e9a633ee38d168a014dcea10eaf5a95aab/index.js#L45-L215 but we can just change it to alphabetical: http://stylelint.io/user-guide/rules/declaration-block-properties-order/

[2016-10-10 14:20] matejlatin commented on #26
Ah ok that's what I was looking for :) I should be able to set up my plugin now...

[2016-10-31 21:57] 1xxxx opened #60 "Getting more done in GitHub with ZenHub"
Hola! @1xxxx has created a [ZenHub](http://www.zenhub.com) account for the **matejlatin** organization. ZenHub is the only project management tool integrated natively in GitHub – created specifically for fast-moving, software-driven teams.

----

#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.com?utm_source=ZHOnboar

[2016-11-01 09:20] #60 closed

[2016-11-05 09:24] maxinakenty opened #61 "no second-order grid"
Hello, Matej! Thank you for your beautiful library. Faced with a problem when setting the horizontal rhythm. No second row of the grid.
Your demo http://joxi.ru/nAyqJWqUX8wMXA
My page http://joxi.ru/J2b1BO1C4jVOlm

Examining the code, I noticed the following changes.
Your demo http://joxi.ru/bmoWJMWSMayvEm
My page http://joxi.ru/D2PDdMDsdQJzo2

I downloaded GUTENBERG of npm. If this information is

[2016-11-05 17:01] matejlatin commented on #61
Hey @maxinakenty I noticed this at some point and came to a conclusion that it happens on some screens. Mostly lower resolution screens. Are your screenshots taken all on the same screen?

The npm version is the same as on Github.

[2016-11-05 17:12] maxinakenty commented on #61
@matejlatin, screenshots made on the same screen. I macBook air 13. This is probably the only Google Chrome problem. Since it is not in other browsers.

I would be very grateful if you would refer to the documentation, how you carded line-height and other values. Or maybe, if you is not difficult, you could share useful information and send me an email link? I also did not find any where in the so

[2016-11-14 11:29] lunaryorn opened #62 "Override variables in horizontal-rule.scss"
I tried to override variables in `horizontal-rule.scss` but failed because unlike the ones in `gutenberg-config.scss` their values aren't marked `!default`.

Shouldn't the variables in `horizontal-rule.scss` be `!default` as well?  Or am I supposed to edit the file directly to change the appearance of horizontal rules?

[2016-11-30 14:09] matejlatin commented on #62
Hey @lunaryorn you're right. Will update this in the next release. Cheers.

[2016-12-12 23:03] stefanchrobot opened #63 "Gutenberg doesn't play nice with other styles/libs"
It's tough to use Gutenberg together with other styles/libs, since it's hijacking top-level and generic selectors, i.e. *, html and body.

What do you think about scoping Gutenberg's application to a certain subtree, i.e.:
[code]

[2017-02-19 03:40] jevojipi opened #64 "How to change font-size in Sass code?"
This peace of code is too hard for me.

[code]

How do I change for example h1 font-size? By default it set to 2.5 rem. How to change it in Sass?

[2017-02-19 19:36] #64 closed

[2017-02-19 20:01] matejlatin commented on #64
@jevojipi did you manage to change it then?

[2017-02-20 02:06] jevojipi opened #65 "How to customize font-size in media queries?"
When I change Mobile base & leading + Desktop base & leading it doesn't affect media queries. And I can't figure out how to use this hardcore SCSS:

[code]

PLEASE HELP!!!

[2017-02-20 02:18] jevojipi opened #66 "Why there's 2 font-sizes for headings?"
I see 2 font-sizes in rems and in pixels. When I customize font-size in headings file - it affects rems. But pixels not affected. What's the logic I don't get it? How to customize them both simultaneously?

[2017-02-20 02:27] #66 closed

[2017-02-24 20:03] #65 closed

[2017-02-24 20:09] matejlatin commented on #63
Hey @stefanchrobot I think that's a good idea. This issue has never crossed my mind tbh. I'll keep it in mind for the next release...

[2017-02-24 20:15] matejlatin commented on #61
@maxinakenty did you find the reason for this problem perhaps? I haven't had time to look into it...

What do you mean by how I "carded" line-height? The modular scale is currently set manually but I'm looking to come up with a better solution in the future.

[2017-03-07 08:31] morganfeeney commented on #53
I have to agree with @mihaisavezi it looks like a bug.

[2017-03-28 00:20] maxinakenty commented on #61
`.grid,
.grid-double {
  background-image: linear-gradient(to bottom,rgba(0,170,255,.3) 1px,transparent 1px);
  background-repeat: repeat;
  background-position: left top;
  background-size: 100% 16px;

  @include up(md) {
    background-size: 100% 32px;
  }
}

.grid-double {
  background-image: linear-gradient(to bottom,rgba(0,170,255,.3) 1px,transparent 1px,transparent 13px,rgba(0,170,255,.2) 13

[2017-03-28 00:20] #61 closed

[2017-03-28 09:36] maxinakenty commented on #61
Hi, @matejlatin! I managed to fix the bug in double-grid. Just exclude rem from the parameters in the grid and double-grid classes. Then the grid is correctly displayed in all modern browsers. I have not tested it in IE.

[2017-03-28 09:38] maxinakenty commented on #61
.grid,
.grid-double {
  background: linear-gradient(to bottom, hsla(200, 100%, 50%, .3) 1px,transparent 1px) repeat left top;
  background-size: 100% 26px;

  @include up(md) {
    background-size: 100% 32px;
  }
}

.grid-double {
  background-image: linear-gradient(to bottom, hsla(200, 100%, 50%, .3) 1px,transparent 1px,transparent 13px, hsla(200, 100%, 50%, .2) 13px,transparent 14px,transparent

[2017-04-03 08:59] matejlatin commented on #61
@maxinakenty thanks for taking the time to look into this. I'll check this asap. I guess IE really isn't a modern browser anymore :D

[2017-05-02 18:10] stereobooster opened #68 "Consider typographic baseline"
See code here: https://github.com/michaeltaranto/basekick
Description here: https://www.youtube.com/watch?v=TGHbkTGVqoU

[2017-11-13 12:35] tricinel commented on #57
@matejlatin, just wanted to say that I'm currently working on this. After some investigation, the issue is not the precision itself - that works fine. You can set the precision to whatever you want and it will work. However, the problem is when the padding itself is calculated.

So that's where I'm at right now...

[2017-11-13 13:54] matejlatin commented on #57
@tricinel perfect, thanks!

[2018-01-23 11:31] slavaGanzin opened #74 "<em/i> excessive property"
Hello Matej. Thanks for your project.

I know that gutenberg is framework and not "everyone's solution". But *maybe* ` position: relative; ` is excessive for `em` and `i`?

I have white overlay above my articles and `em` and `i` located above it while all other tags play well.

![em i guttenberg](https://user-images.githubusercontent.com/1011721/35273535-327365ea-0039-11e8-833f-ad57509b286b.gif)

[2018-05-06 16:52] MunifTanjim commented on #37
On First Example Site, double grid is only visible when I zoom in / zoom out a bit. For example:

Visible on 80%, 90%, 110%, 125%
Not visible on 50%, 75%, 100%

The Second Example site, it's visible on 100%. But not visible on 80% or 110%.

[2018-05-07 15:37] cherylcarpenter commented on #47
i searched high and low for a responsive typography starter scss file. got this all set up and then discovered that it overides bootstrap width. Seems a bit crazy. And seems should have been spelled out very early on that this invents its own grid.

[2018-05-18 08:03] matejlatin commented on #37
@MunifTanjim thanks for looking into this, I haven't had time to take a look at why this happens 😞

[2018-05-18 08:05] matejlatin commented on #74
@slavaGanzin hmm that makes sense. I'll need to look into why I used `position: relative` in the first place. Have you tried removing it, does it break anything?

[2018-05-18 08:10] matejlatin commented on #47
@cherylcarpenter I know about that 😢 I'm planning on making this framework a bit more liberal in the future so it would play nicely with Bootstrap etc.

[2018-05-22 15:33] slavaGanzin commented on #74
Nope. I hadn't found any breakage.

[2018-05-22 16:49] matejlatin commented on #74
Cool, I made a not to give it a try myself. If you want you can create a merge request @slavaGanzin ;)

[2018-06-17 14:06] juh2 commented on #63
I wonder if it is possible to create a marriage between Bulma and Gutenberg. Bulma does not affect the generic selectors and has a special class "content" for an area where a CMS or whatever inserts html-formatted content with generic selectors only.

[2018-06-18 16:00] matejlatin commented on #63
@juh2 I haven't heard of Bulma... what is it?

[2018-08-01 03:06] #31 closed

[2018-08-17 10:41] murdoch opened #76 "Is the project still alive?"
Like the title suggests, I'm wondering if the project is still being maintained?
If not, do you recommend any alternative for people to use?

[2018-08-17 23:26] murdoch commented on #76
@maxinakenty thanks, typographist looks awesome! I'll definitely give it a go.

[2018-08-17 23:26] #76 closed

[2018-08-20 19:14] wmhilton commented on #63
I really like Gutenberg's look, but am struggling to figure out how I could sneak it into an existing project without it breaking everything is styled globally without a "gutenberg" class.

[2018-08-23 08:32] matejlatin commented on #63
@wmhilton I know what you mean, others mentioned this and I experience it myself. Unfortunately, I don't have much time to work on this. Do you have any ideas how this could be done better?

[2018-08-23 14:40] wmhilton commented on #63
Well, I started by just prepending a `.gutenberg` class selector to all the styles in `src/style/gutenberg.css`. Then I deleted the styles applied directly to the top-level `body` and `html`.

There's probably a way to do it cleverly using SASS... hold on while I try something... if it works I'll make a PR.

[2018-08-23 14:44] matejlatin commented on #63
Awesome, that would be much appreciated @wmhilton !

[2018-09-17 06:07] imyujie opened #78 "Why is double grid needed?"
Just came across this interesting project and tried https://matejlatin.github.io/Gutenberg/.

I was wondering why we need double grid here. And I saw there's a lot of margins set to be 1.5 leadings or 0.5 leading. Why not just use integer number of leadings to ensure all the elements are aligned with the 1 leading grid?

A quick idea: is it possible to set dynamic margins? Let's say if an element'

[2018-10-29 14:39] JacobDB opened #79 "Remove external font dependencies"
I'd appreciate it if the external font dependencies could be removed, as they're adding an extra HTTP request that apparently can't be overridden. I'd recommend continuing to use the font names in the stylesheets, but instead of including the Google Fonts stylesheets in the CSS, instead include instructions on how to include the recommended fonts in the documentation.

https://github.com/matejlati

[2018-10-29 14:47] JacobDB commented on #79
Ah, never mind, I didn't realize you could just override it with a couple of Sass variables. Still, I don't think these should be baked in the the stylesheet, but overriding the variables will do for my purposes.

[code]

[2018-10-29 14:47] #79 closed

[2018-11-21 13:51] matejlatin commented on #79
@JacobDB I'm glad you found a solution! 👍

Thanks for the suggestion. I'll keep it in mind for any potential future updates.

[2018-11-21 13:53] matejlatin commented on #78
@imyujie it's just something that helps with flexibility when it comes to layout. Headings for example usually need a smaller line-height and using the .5 grid allows that, and they don't break the grid. You could disable the double grid and stick to whole leading units only.

[2018-11-29 12:25] mariano-dagostino opened #80 "License question"
Hi, this project is great.

I have a question regarding the license of this project. Since CC [is not commonly recommended](https://creativecommons.org/faq/#can-i-apply-a-creative-commons-license-to-software) for software...

Does the CC license means that people using this framework in their sites should add a link (maybe a footer link) to indicate they are using Gutenberg? Or this only applies f

[2019-02-08 19:55] Geeza opened #81 "Some vars not used"
Your docs references a $color-font-headings. I tried to change it, but it seems this var isn't used at all in the code.

[2019-05-04 15:49] SwagDevOps opened #83 "Hardcoded image url in helpers/grid"
https://github.com/matejlatin/Gutenberg/blob/25ba8707890867a8a3c3f15cc494e3a6b02eac28/src/style/helpers/_grid.scss#L59

[2019-05-04 16:03] SwagDevOps commented on #63
Use sass :

[code]

[2019-06-30 21:53] mswiszcz commented on #53
hey @matejlatin even when looking at the gutenberg website and assuming that everything should be in the middle of the line, it looks like there are some missalignments
![Capture](https://user-images.githubusercontent.com/8496729/60402608-4ebc3b00-9b92-11e9-8c9f-68220ea6d5db.JPG)

[2019-07-29 06:55] matejlatin commented on #53
@mswiszcz no it's still correct actually, you need to enable the "double grid". Then those lines will also align. I tend to use the double grid so it gives more flexibility in assigning line heights and font sizes.

[2019-08-02 09:16] mswiszcz commented on #53
The paragraph at the very top and the one below the first headline are aligned differently, is that expected? Same with 1st and 2nd headlines. It's a bit confusing, not an expert on typo though

[2020-05-07 12:00] #62 closed

[2021-06-06 22:28] #68 closed

[2022-11-27 01:31] oliverlambson opened #84 "Deprecation warning: Need to wrap division in `calc()`"
In lots of parts of this repo, division is used without wrapping the calculation in `calc()`. This will be deprecated in Dart Sass 2.0.0. See error message below:

[code]

This is part of a breaking change being made to the Sass standard, see here: https://sass-lang.com/documentation/breaking-changes/slash-div

[2022-11-29 19:00] #84 closed